type = 'Namada'
rpc_addr = 'https://namada-testnet-rpc.itrocket.net:443'  # set the IP and the port of the chain
grpc_addr = 'http://namada-1:9090'  # not used for now
event_source = { mode = 'push', url = 'ws://rpc.namada.stakeup.tech:26657/websocket', batch_delay = '500ms' }  # set the IP and the port of the chain
rpc_timeout = '30s'
trusted_node = false
account_prefix = ''
key_name = 'testingagain'
store_prefix = 'ibc'
default_gas = 100000
max_gas = 400000
gas_price = { price = 2, denom = 'tnam1qxvg64psvhwumv3mwrrjfcz0h3t3274hwggyzcee' }
gas_multiplier = 1.1
max_msg_num = 30
max_tx_size = 2097152
clock_drift = '5s'
max_block_time = '30s'
trusting_period = '1952s'
trust_threshold = { numerator = '2', denominator = '3' }
address_type = { derivation = 'cosmos' }
memo_prefix='Semjj'
